.PhoneNumberForm {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #404040;

    input {
        margin: 0.5em;
    }

    span {
        margin-top: 0.2em;
    }

    .Hidden{
        display: none;
    }

    .Visible{
        display: block;
    }

    .isPhoneNumberFormatUncorrect{
        border: red solid 1px;
    } 
}