.App {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 7em;
  padding: 0.5em 2em 1em 2em;
  background-color: #f0f0f0;
  border-radius: 10px;
}

img {
  width: 300px;
  height: 150px;
  margin: 1em;
}

span {
  margin: 1em;
}
